* {
  margin: 0;
  padding: 0;
}

.fondo_amarillo {
  background-color: #cf6f01;
  margin-bottom: 20px;
  border-bottom: 30px;
}

.link_header {
  color:#4f2414;
  font-weight: bold;
}

.color_marron {
  color: #502314;
}

.fondo_marron {
  background-color: #502314;
}

.fondo_rojo {
  background-color: #c23c22;
}

.fondo_naranja {
  background-color: #e76005;
}